/*Variables*/
@import './variables.less';

.container-fluid{
  margin: 0 @margin+15px;
}

.alert{
  background-color: lightblue;
  margin-left: 10%;
  margin-top: 10px;
  width: 300px;
  padding-left: @paddingSides+15px;
  padding-right: @paddingSides - 1px;
  padding-top: @paddingTop - 9px;
  padding-bottom: @paddingTop - 10px;
  opacity: 0.85;
}
/*Modifiers*/
@import './modifiers.less';

/*Transitions*/
@import './transitions.less';