.round-border {
  border-radius: @radius;
}

.round-border-right {
  border-radius: 0 @radius  @radius 0;
}

.round-border-left {
  border-radius: @radius 0 0 @radius;
}

.box-padding {
  padding: @box-padding 0;
}

.danger-text{
  color: @danger !important;
}

.primary-text{
  color: @primary !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.click-pointer {
  cursor: pointer;
}

.bolden{
  font-weight: @bolden !important;
  font-variant-caps: petite-caps; 
}

.margin-left{
  margin-left: @margin !important;
}

.margin-right{
  margin-right: @margin !important;
}

.margin-top{
  margin-top: @margin !important;
}

.margin-bottom{
  margin-bottom: @margin !important;
}

.no-margin{
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.padding-top {
  padding-top: @paddingTop !important;
}

.padding-left {
  padding-left: @paddingSides !important;
}

.padding-right {
  padding-right: @paddingSides !important;
}

.padding-sides {
  padding-right: @paddingSides !important;
  padding-left: @paddingSides !important;
}

.danger {
  background-color: @danger !important;
}

.warning {
  background-color: @warning !important;
}

.success {
  background-color: @success !important;
}

.fixed {
  position: fixed;
  z-index: 2;
}

.no-border{
  border: 0px;
}

.height500{
  height: 500px;
}

.flex{
  display: flex !important;
}

.opacity-50{
  opacity: 0.5;
}

.blur{
  filter: blur(2px);
  transition: filter 0.7s;
}